name: Quiz CI process

on:
  - push
  - pull_request

env:
  DJANGO_SETTINGS_MODULE: config.settings.dev

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        python-version: [ "3.10", "3.11",  ]

    services:
      postgres:
        image: postgres:15.7
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          

    steps:
      - uses: actions/checkout@v3
      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Check migrations
        run: |
          python src/manage.py makemigrations
          python src/manage.py migrate
          python src/manage.py check
      - name: Run tests
        run: |
          python src/manage.py test & flake8